body .block-souris {
    background-color: rgba(241, 242, 249, 0.767);
    padding: 5%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  body .block-souris .tsotra {
    font-size: 1.6em;
    color: rgb(246, 241, 241);
  }
  body .block-souris .tsotra-normale {
    font-size: 1em;
    color: black;
  }
  body .souris {
    background-color: rgba(241, 242, 249, 0.767);
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 1;
  }
  body .sourisZoom {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    opacity: 1;
    background-color: black;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  @keyframes anime {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }