
/* mbola mila amboarina tsara ny ressponsive xD ... */
html {
    box-sizing: border-box;
    font-family: "Poppins";
    color: rgb(70, 70, 70);
    overflow-x: hidden;
}



.default{
    position: absolute;
    left: 33%;
    background-size:300px;
    background-color: #fff;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
 
    z-index: 0;
    transform-origin: 200px 100px; 
    /* animation: affichePerso 0.5s ease-in-out  forwards ; */
}


/*soit after ou un autre div ....avec cette derniere on peut l animer de maniere dynamique xD*/
.barre{
    left: 28%;
    position :absolute;
    content: "";
    background-color:rgb(255, 255, 255); /**/
    height: 500px;
    width:100px;
    transform: rotate(20deg);
    transform-origin: 200px 100px;
    /* animation:poseX 0.8s ease-in-out 0.45s forwards */
    z-index: 10;

}



/*positionnement svt x image*/

@keyframes poseX {
    
    100%{
        transform: translateX(400px);
    }
}
@keyframes poseX_rev {
    0%{
        transform: translateX(400px);
    }
    100%{
        
        transform: translateX(-100px) rotate(20deg);
    }
}


@keyframes reverseX {
    0%{
        width: 500px;
    }
    100%{
        width: 0px;
    }
}
/*affichage perso xD*/
@keyframes affichePerso {
    100%{
        width:500px;
    }
}


/*notre minicard de navigation xD*/
.miniCard{
  
    position: relative;
    width: 50%;
    height: 5%;
    top:70%;
    left: 45%;
    z-index:100;
  }

  
  .cardxD , .arrow-prev, .arrow-next{
    
    position:absolute;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    top: 0%;
    width:20%;
    height: 350%;
    background-color: #e7e0e0;
    border-radius: 10%;
    transition: 0.4s ease-out;
  }
  /* arrows mini-slide xD */
  .arrow-prev, .arrow-next{
    opacity: 0;
    z-index: 9999999999999;
    transform:translateX(-105%);
  }
  .arrow-prev{
    transform:translateX(-105%);
  }
   .arrow-next{
    transform:translateX(105%);
  }
  /* arrows mini-slide xD */
  
  .cardxD .slidexD img{
    width: 100%;
    height: 50%;
  }
  /*fin minicard nav xD*/
  
  /*card-arrows xD*/
  
  /*animation prev mini-slide xD*/
  @keyframes anim-p {
    0%{
      opacity: 0;
      transform:translateX(-120%)
    }
    100%{
      opacity: 1;
      transform:translateX(-105%)
    }
  }
  
  @keyframes anim-n {
    0%{
      transform:translateX(90%)
    }
    100%{
      transform:translateX(105%)
    }
  }
  @keyframes anim-m {
    0%{
  
      transform:translateX(-15%)
    }
    100%{
  
      transform:translateX(0%)
    }
  }
  
  @keyframes anim-pn {
    0%{
      transform:translateX(90%)
    }
    100%{
      transform:translateX(105%)
    }
  }
  
/*anim mini slide*/  


 /*arrows*/
 .arrow-n , .arrow-p{
    position: absolute;
    color: red;
    font-size: 120px;
    color: rgb(51, 50, 50);
    cursor: pointer;
    bottom:125%;
    z-index: 99;
  }


.arrow-n {
  left:-50%;
}
.arrow-p{
  left:62%;
}
/*fin arrows xD*/


/*  */

@media screen and (min-width:720px) {
  .barre{
    width:110px;
  }
  .default{
    background-size: 350px;
  }

}

@media screen and (max-width:500px) {
  

  .default{
   
    background-size:230px;
  }
  .barre{
    transform: translateX(-120px);
  }
  
}


@media screen and (max-width:600px){
  .cardxD , .arrow-prev, .arrow-next{
    
    left: -10%;
    width:40%;
    height: 380%;
  }
}
